<head>
  <script
    src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"
  ></script>
</head>
<div>
  <label for="username">Username</label>
  <input
    hx-get="check-username"
    hx-trigger="input changed"
    hx-target="#status"
    type="text"
    name="username"
    id="username"
    required
  />
  <div id="status" name="status"></div>
</div>

<div>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
</div>

{% if include_pin %}
<div>
  <label for="pin">PIN</label>
  <input type="number" id="pin" name="pin" min="1000" max="9999" required />
</div>
{% endif %} {% if include_balance %}
<div>
  <label for="balance">Balance</label>
  <input type="number" id="balance" name="balance" min="10000" required />
</div>
{% endif %}
