<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'atm/style.css' %}" />

    <title>ATM</title>
  </head>
  <body>
    <h1>ATM</h1>
    {% include "navbar.html" %}
    <div id="screen" class="screen">
      <div class="side-bar">
        <button
          class="side-buttons"
          hx-get="cash-withdraw"
          hx-trigger="click"
        ></button>
      </div>
      <div id="screen-display" class="screen-display" style="margin-top: 10px">
        <div style="border-style: solid">Cash Withdrawl</div>
        <div id="input-field"></div>
        <div
          hx-get="get_balance"
          hx-target="#input-field"
          style="border-style: solid; cursor: pointer"
        >
          Balance Inquiry
        </div>
      </div>
      <div class="side-bar">
        <button
          class="side-buttons"
          hx-get="get_balance"
          hx-target="#input-field"
          hx-trigger="click"
        ></button>
      </div>
    </div>
    {% include "numpad.html" %}
  </body>
  <script>
    function changeTextArea(param) {
      if (document.getElementById("input-field").innerText.length < 4) {
        document.getElementById("input-field").innerText += param;
      }
    }

    function clearScreen() {
      document.getElementById("input-field").innerText = "";
    }

    function sendPin() {
      const pin = document.getElementById("input-field").innerText;
      document
        .getElementById("btnEnter")
        .setAttribute("hx-vars", '{"pin": "' + pin + '"}');
    }
  </script>
</html>
