<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'atm/style.css' %}" />

    <title>ATM</title>
  </head>
  <body>
    <h1>ATM</h1>
    {% include "navbar.html" %}
    <div id="screen" class="screen">
      {% include "sidebarbtns.html" %}
      <div id="screen-display" class="screen-display" style="margin-top: 10px">
        <div style="border-style: solid">Enter amount in multiple of 500</div>
        <div id="input-field"></div>
      </div>
      {% include "sidebarbtns.html" %}
    </div>
    {% include "numpad.html" %}
  </body>
  <script>
    function changeTextArea(param) {
      if (document.getElementById("input-field").innerText.length < 4) {
        document.getElementById("input-field").innerText += param;
      }
    }

    function clearScreen() {
      document.getElementById("input-field").innerText = "";
    }
  </script>
</html>
